.header { 
    background: #f9f8fb;
    padding-top: 45px;
    color: #262626;

    .container {
        position: relative;
        z-index: 2;
        @include flex-between();
    }

    &-logo__title {
        @include pacificoregular();
        font-size: 50px;
    }

}
.nav-list {
    list-style: none;
    display: flex;

    &__item {
        @include ralewaybold();
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 35px;
        position: relative;

        &::after {
            content: "";
            background: #ff6033;
            width: 0%;
            height: 3px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -5px;
            transition-duration: 0.5s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    &__btn {
        display: none;
        border: none;
        font-size: 30px;
    }
}

@media screen and (max-width: 960px)  {
    .nav-list {

        &__item {
            display: none;
        }

        &__btn {
            display: block;
        }
    }
}